name: improved-test
on:
  push:
    branches: 
      - 'image*'
jobs:
  new-test:
    runs-on: ubuntu-latest # use the latest ubuntu container image 
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2 # use action to install python
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          pip install jupyter-book matplotlib numpy pandas ipywidgets notebook nbconvert p2j jupyterlab nbclient
          #cp .github/workflows/import_test.py ./test.py 
      - name: Run Docker container
        run: |
          IMAGE=quay.io/rh_ee_keli/ope:beta-image-template-NERC-test
          docker run -d -p 8888:8888 --name mycontainer -v /tests:/tests $IMAGE
          #docker run -d -p 8888:8888 --name mycontainer -v /tests:/home/jovyan/ $IMAGE
          #docker run -d -p 8888:8888 --name mycontainer -v /tests:/home/jovyan -e JUPYTER_ENABLE_LAB=yes --memory 4g $IMAGE
          docker ps -a
      - name: Wait for container to start
        run: |
          until docker exec mycontainer jupyter lab --version; do sleep 1; done
          docker ps -a
      - name: Execute Notebook
        run: |
          #p2j test.py
          ls
          container_id=$(docker ps -qf "name=mycontainer" | head -n 1)
          echo $container_id
          echo "jup lab"
          docker exec $container_id jupyter lab --generate-config
          echo "token"
          docker exec $container_id sh -c "echo 'c.NotebookApp.token = \"\"' >> /home/jovyan/.jupyter/jupyter_notebook_config.py"
          echo "install"
          docker exec $container_id jupyter labextension install @jupyter-widgets/jupyterlab-manager
          docker exec $container_id jupyter labextension install @jupyterlab/toc
          docker exec $container_id pip install nbclient
          echo "***********nbccilent installed, running notebook************"
          docker exec $container_id jupyter lab build --minimize=False
          #docker exec $container_id jupyter nbconvert --to notebook --execute .github/workflows/import_test.ipynb --output executed.ipynb
          #docker exec $container_id nbclient .github/workflows/import_test.ipynb --output output.ipynb
          #docker exec $container_id python -c "from nbclient import execute; execute.NotebookClient(timeout=300).run_notebook('./test.ipynb')"
          #docker exec $container_id python -m nbclient --timeout=300 ./test.ipynb
          #docker exec $container_id jupyter execute /workdir/import_test.ipynb --stdout
          echo "pwd"
          docker exec $container_id sh -c "pwd"
          echo "ls"
          docker exec $container_id sh -c "ls"
          echo "cd"
          docker exec $container_id sh -c "cd /tests"
          echo "runnning"
          docker exec $container_id jupyter execute tests/test.ipynb --allow-errors

          echo "done"
      - name: Stop Docker container
        run: docker stop mycontainer
