name: jupyter nb test
on:
  push:
    branches: 
      - 'image*'
    #base-ope-image #might need to change to be test-book
    #env: IMAGE:quay.io/rh_ee_keli/ope:image-template-NERC-test
jobs:
  jup-nb:
    runs-on: ubuntu-latest #use the latest ubuntu container image 
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4 #use action to install python
        with:
          python-version: "3.9"
      - name: Install dependencies #requirements docs unable to read, hard installing dependencies 
        run: |
          pip install jupyter-book matplotlib numpy pandas ipywidgets notebook nbconvert p2j jupyterlab
          cp .github/workflows/import_test.py ./test_sc.py    

      - name: check health
        run: |
          #IMAGE=quay.io/rh_ee_keli/ucsls:stable-base-ope-latest
          IMAGE=quay.io/rh_ee_keli/ope:beta-image-template-NERC-test
          #IMAGE=quay.io/rh_ee_keli/ope:image-template-NERC-test
          docker pull $IMAGE
          docker image ls
          echo "running"
          docker run -d --name test $IMAGE # use a different port number here
          echo "done running"
          sleep 10
          echo "ps -a" 
          docker ps -a  
          echo "quitting"
          docker stop test

      - name: run
        run: |
          IMAGE=quay.io/rh_ee_keli/ope:beta-image-template-NERC-test
          echo "running"
          docker run -d --name stable -p 8888:8888 $IMAGE #--ip 0.0.0.0 --no-browser
          echo "done running"
          echo "sleep"
          sleep 10
          echo "ps -a" 
          docker ps -a  
          chmod +x ./test_sc.py 
          TEST=$( ./test_sc.py)
          echo "starting nb"
          docker exec -d stable jupyter notebook --allow-root --no-browser --ip 0.0.0.0 --NotebookApp.token='' --port 8888
          sleep 10
          echo "done sleep, listing"
          docker ps -a
          docker exec stable jupyter nbconvert --execute --output /dev/null test_sc.py --execute "--ExecutePreprocessor.timeout=-1"
          echo "sleeping"
          sleep 30
          docker ps -a
          docker stop stable 

      - name: beta
        run: | 
          make pull-beta
          make run-beta &
          sleep 5
          container_id=$(docker ps -q | head -n 1)
          echo $container_id
          token=$(docker exec $container_id jupyter lab list 2>&1 | grep -o "token=[^ ]*" | cut -d= -f2)
          echo "token: $token"
          chmod +x ./test_sc.py 
          TEST=$( ./test_sc.py)
          echo $TEST

          cp .github/workflows/import_test.py ./test.py
          cat ./test.py
          python3 .github/workflows/import_test.py $token

          #python3 $TEST $token
